.aboutus h2{
    color: white;
}

.aboutus {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    
    
}



.toptext {
    width: 66%;
    padding: 40px;
    background: linear-gradient(rgba(255, 0, 0, 0.919),rgba(255, 0, 0, 0.919));
    
}



.boxes {
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
}

.icons {
    width: 11%;
    padding: 10px;

    text-align: center;
}

.icondiv {

    border: 1px solid white;
    padding: 9px 10px 9px 10px;
    background-color: goldenrod;
    border-radius: 50%;
    text-align: center;
}

.text {
    width: 79%;
    
}

@media (max-width: 768px) {
   .image{
    display: none;
   }
   .aboutus{
    text-align: center;
   }
   .toptext{
    width: 99%;
   }
   .icons{
    width: 99%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
   
   }
 .icondiv{
    width: 60px;
 }
   .text{
    width: 99%;
   }
   .boxes{
    flex-direction: column;
    justify-content: center;
   }
  } 