
.Features{
    width: 100%;
    padding: 0px;
    padding-top: 100px;
    padding-bottom: 80px;
    overflow: hidden;
}



.Featurescontainer{

    display: flex;
    flex-direction: row;
    gap: 90px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.containeritems{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.containeritems h4{
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 font-size: 18px;

  
}

.containeritems .icons{
    background-color: rgba(255, 255, 255, 0.329);
    color: black;
    border-radius: 50%;
    height: 180px;
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
    
}

@media (max-width: 768px) {
    
    .Featurescontainer{
        flex-direction: column;
    }
  }