.form{
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: flex-start;
    padding: 20px;
    height: auto;
    margin: 30px;
    border:  1px solid gray;
    gap: 20px;
}

.formdata{
    display: flex;  
    width: 59%;
    padding: 30px;
    background-color: rgba(241, 236, 236, 0.76);
    
}

/* Apply styles to all labels and inputs inside the form */
.formdata form input {
  display: block; /* Display each label and input on a new line */
  margin-bottom: 10px; /* Add space between each label and input */
  margin-top: 6px;
  width: 100%!important; /* Make the inputs 100% width of their container */
}

/* Apply styles to inputs only */
.formdata form input {
width: 100%;
  padding: 12px; /* Add some padding inside the input fields */
  border: 1px solid white; /* Add a border to the input fields */
  border-radius: 2px; /* Add some rounded corners to the input fields */
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3); 
}

.formdata form select {
    width: 100%; /* Makes the select element fill its container */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3); 
    margin-top: 6px;
  }

.formdata form{
    width: 100%!important;
    
    /* Add a box shadow effect */

    
}


.formdata form textarea{
    margin-top: 6px;
    margin-bottom: 10px;
    padding: 8px;
    width: 100%;
    border: 1px solid #ccc; /* Add a border to the input fields */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3); 
}


.checkoutbox{
    width: 38%;
    
}

.placeorder{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mycheckout{
    
    padding: 30px;
    
    background-color: rgba(241, 236, 236, 0.76);
    
}

.btn {
    width: 95%;
    padding: 10px 12px;
    border-radius: 15px;
    border: none;
    font-size: 20px;
    margin-top: 10px;
    
    text-transform: uppercase;
    background-color: #a6252a;
    color: #fff;
    cursor: pointer;
    transform: scale(1, 1);
    transition: transform 0.5s ease;
  }
  
  .btn:hover {
    transform: scale(1.1, 1.1);
  }
  

.box{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    padding: 5px;
}

.pricetag{
    padding: 10px;
}

.pricings{
    padding: 5px;
    margin: 5px;
}

.cpricing{
    padding: 15px
}

.quantity p span{
 
 margin-left: 8px;

}


.itemprice{
    position: absolute;
    right: 0px;
    
}

.quantityprice{
    
}

@media (max-width: 768px) {
    .form{
        flex-direction: column;
    }
    .formdata{
        width: 100%;
    }
    .checkoutbox{
        width: 100%;
    }
    .cpricing{
        padding: 2px;
    }
    .pricetag{
        padding: 3px;
    }
    .quantity p span{
 
        margin-left: 5px;
       
       }
    .btn{
        font-size: 18px;   
    }
    .formdata h3{
        font-size: 16px;
    }
  }