.products{
    padding: 20px;
    height: auto;
}


.heading{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

.productlist{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: auto;
}

.product{
 border: 2px solid black;
 width: 400px;
 height: auto;
 margin: 10px;
 padding: 10px;
}

.product .content{
    margin-top: 15px;

}